body {
	background-color: #EBEBEB;
	color: rgb(58, 58, 58);
	font-family: system-ui, sans-serif;
	font-size: 13pt;
}

a:link {
	color: #333FA3;
	text-decoration: underline;
}
a:visited {
	color: #712F83;
}
a:active {
	color: #262E78;
}

.center {
	text-align: center;
}